:root {
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
  --main-color: #027581;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,ol{
    padding: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-weight: 500;
}
#sidebarpl-toggle {
    display: none;
}

.sidebarpl {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: var(--main-color);
    color: #fff;
    overflow-y: auto;
    transition: width 500ms;
}

.sidebarpl-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
    font-size: 1.1em;
}

.sidebarpl-menu {
    padding: 1.3rem;
}

.sidebarpl li {
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}

.sidebarpl a {
    color: #fff;
    font-size: 1.4rem;
}

.sidebarpl a span:last-child {
    padding-left: .6rem;
}

#sidebarpl-toggle:checked ~ .sidebarpl {
    width: 60px;
}

#sidebarpl-toggle:checked ~ .sidebarpl .sidebarpl-header h3,
#sidebarpl-toggle:checked ~ .sidebarpl li span:last-child {
    display: none;
}

#sidebarpl-toggle:checked ~ .sidebarpl .sidebarpl-header,
#sidebarpl-toggle:checked ~ .sidebarpl li {
    display: flex;
    justify-content: center;
}

#sidebarpl-toggle:checked ~ .main-content {
    margin-left: 60px;
}

#sidebarpl-toggle:checked ~ .main-content header {
    left: 60px;
    width: calc(100% - 60px);
}


.brand h3{
  font-weight: 600;
  padding: 1rem;
}

.brand a{
  font-size: 1.8rem;
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}


header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 55px;
    padding: 0rem 1rem;
    display: flex;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.search-wrapper {
    display: flex;
    align-items: center;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 38px;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons span,
.social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/1.jpg);
    border-radius: 50%;
}


@media only screen and (max-width: 1200px) {
    .sidebarpl {
        width: 60px;
        z-index: 150;
    }

    .sidebarpl .sidebarpl-header h3,
    .sidebarpl li span:last-child {
        display: none;
    }

    .sidebarpl .sidebarpl-header,
    .sidebarpl li {
        display: flex;
        justify-content: center;
    }

    .main-content {
        margin-left: 60px;
    }

    .main-content header {
        left: 60px;
        width: calc(100% - 60px);
    }
    
    #sidebarpl-toggle:checked ~ .sidebarpl {
        width: 240px;
    }

    #sidebarpl-toggle:checked ~ .sidebarpl .sidebarpl-header h3,
    #sidebarpl-toggle:checked ~ .sidebarpl li span:last-child {
        display: inline;
    }

    #sidebarpl-toggle:checked ~ .sidebarpl .sidebarpl-header {
        display: flex;
        justify-content: space-between;
    }
    
    #sidebarpl-toggle:checked ~ .sidebarpl li {
        display: block;
    }

    #sidebarpl-toggle:checked ~ .main-content {
        margin-left: 60px;
    }

    #sidebarpl-toggle:checked ~ .main-content header {
        left: 60px;
    }
}


main {
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

main .pl-title {
    color: var(--color-dark);
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

/* PRODUCTS */
.section .product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.product {
    overflow: hidden;
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.product .img-container {
  position: relative;
  cursor: pointer;
}

.product .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product .bottom {
  padding: 1rem;
  text-align: center;
}

.product .bottom a {
  margin-bottom: 1rem;
  font-weight: inherit;
  font-size: 1.5rem;
}

.product .bottom a:hover {
  color: var(--main-color);
}

.product .bottom span {
  color: var(--main-color);
  font-size: 1.8rem;
}

.product .bottom .cancel {
  font-size: 1.4rem;
  color: var(--grey2);
  text-decoration: line-through;
}

.product .addCart {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
  background-color: var(--white);
  border-radius: 50%;
  padding: 1.3rem 1.6rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.product:hover .addCart {
  border-radius: 1rem 0 0 0;
}

.product .addCart:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.product i {
  transition: all 300ms ease-in-out;
}

.product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(80%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 500ms ease-in-out;
}

.product .side-icons span {
  font-size: 1.4rem;
  background-color: var(--white);
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.product .side-icons span:hover {
  background-color: var(--main-color);
  color: var(--white);
}

.product:hover .side-icons {
  transform: translate(0%, -50%);
}

@media only screen and (max-width: 996px) {
  .prodouct-layout {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .prodouct-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 567px) {
  .prodouct-layout {
    grid-template-columns: 1fr;
  }
}


/* PRODUCTS */

.products {
  margin-top: 6rem;
}

.products-layout {
  display: grid;
  grid-template-columns: 1.05fr 3fr;
  gap: 0 1rem;
}

.col-3-of-4 .product-layout {
  grid-template-columns: repeat(3, 1fr);
}

.col-3-of-4 {
  text-align: center;
}

@media only screen and (max-width: 996px) {
  .col-3-of-4 .product-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

.col-3-of-4 form {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 3rem;
}

.col-3-of-4 form .item {
  margin-right: 1rem;
}

.col-3-of-4 form label {
  color: var(--grey1);
}

.col-3-of-4 form select {
  font-family: "Open Sans", sans-serif;
  padding: 1rem;
  width: 10rem;
  border: 1px solid #f2f2f2;
  outline: none;
}

.col-3-of-4 form a {
  display: inline-block;
  padding: 1rem 3rem;
  border-radius: 4rem;
  margin-right: 1rem;
  background-color: var(--main-color);
  color: var(--white);
  transition: all 300ms ease-in-out;
}

.col-3-of-4 form a:hover {
  background-color: var(--black);
}

@media only screen and (max-width: 768px) {
  .products-layout {
    padding: 0 5rem;
  }

  .col-3-of-4 form {
    flex-direction: column;
    align-items: end;
  }

  .col-3-of-4 form a {
    margin-right: 0;
  }

  .col-3-of-4 form .item {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 567px) {
  .col-3-of-4 .product-layout {
    grid-template-columns: 1fr;
  }
}

.col-1-of-4 .block-title {
  color: var(--grey1);
  margin-bottom: 1.6rem;
}

.col-1-of-4 h3 {
  font-size: 2.7rem;
  font-weight: inherit;
}

.col-1-of-4 div {
  margin-bottom: 8rem;
}

.block-content li {
  margin-bottom: 1rem;
}

.block-content li label {
  color: var(--grey2);
  margin-left: 1rem;
}

.block-content li label small {
  font-size: 1rem;
}

.block-content li input {
  outline: none;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}

.pagination span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--black);
  font-size: 1.3rem;
  border: 1px solid var(--grey2);
  margin-right: 0.5rem;
  cursor: pointer;
}

.pagination span.last {
  width: 7rem;
  border-radius: 3rem;
}

.pagination span:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  .products-layout {
    grid-template-columns: 1fr;
    gap: 4rem 0;
  }
}
/* deals */

.category__center {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 50rem));
    column-gap: 4rem;
    justify-content: space-evenly;
}

.category__left,
.category__right {
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
    border-radius: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.6rem;
}

.category__left img,
.category__right img {
    width: 20rem;
}

.category .content h2 {
    font-size: 3rem;
}

.category .content h1 {
    font-size: 3rem;
    line-height: 1;
    margin: 1rem 0 1.6rem 0;
}

.category .category__btn {
    background-color: var(--default);
    padding: 1rem 3rem;
    color:darkcyan;
    border-radius: 5rem;
    border: 1px solid var(--default);
    transition: all 300ms ease-in-out;
}

.category .category__btn:hover {
    background-color: transparent;
    color: var(--dark-color);
}

@media only screen and (max-width: 800px) {
    .category__center {
        display: grid;
        grid-template-columns: repeat(1, minmax(auto, 50rem));
        gap: 3rem 0;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 568px) {

    .category__left img,
    .category__right img {
        width: 15rem;
    }

    .category .content h2 {
        font-size: 2rem;
    }

    .category .content h1 {
        font-size: 2rem;
        line-height: 1;
        margin: 1rem 0 1.6rem 0;
    }

    .category .category__btn {
        background-color: var(--default);
        font-size: 1.4rem;
        padding: 1rem 2rem;
        color:violet;
    }
}
